nav{
  margin-bottom: 30px;
}
.main-header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}
.link-container{
  display: flex;
  justify-content: center;
}
.link-container .btn {
  margin: 10px 15px;
  max-width: 80px;
}
a.active, a{
  text-decoration: none;
  color: aliceblue;
  display: inline-block;
  width: 100%;
  height: 100%;
}
a.active:hover,
a:hover{
  text-decoration: none;
  color: aliceblue;
  display: inline-block;
  width: 100%;
  height: 100%;
}